.flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}
.goods{
    background-color: white;
    margin: 0 auto;
}
.picture{
    float: left;
    height: 500px;
}
.goods_picture{
    width: 400px;
    height: 400px;
    float: left;
    overflow: hidden;
    margin:-900px 50px;
}
.img1{
    width: 100%;
    height: 100%;
}
.message{
    width: 500px;
    height: 500px;
    float: right;
}
.price_message{
    background-color: #f3f3f3;
    width: 500px;
    margin-top: 20px;
    line-height: 2;
}
.advise{
    font-size: 17px;
    color: gray;
}
.price{
    font-size: 20px;
    color: red;
    margin-left: 10px;
}
.discount{
    color: gray;
    font-size: 14px;
}
.message_class{
    width: 500px;
    margin-top: 20px;
    line-height: 2;
}
.tip{
    color: gray;
    font-size: 15px;
}
.kinds{
    font-size: 17px;
    line-height: 2.5;
    color: gray;
    float: left;
}
.kind{
    text-align: center;
    width: 90px;
    border: 1px solid gray;
    float: left;
    margin: 5px 6px;
    font-size: 15px;
}
.selected{
    text-align: center;
    width: 90px;
    border: 2px solid red;
    color: red;
    float: left;
    margin: 5px 6px;
    font-size: 15px;
}
.server{
    display: flex;
    width: 100%;
}
.service{
    font-size: 17px;
    line-height: 3;
    color: gray;
    width: 80px;
    float: left;
}
.support{
    color: red;
    font-size: 17px;
    margin-left: 10px;
    line-height: 3;
}
.quilty{
    margin-top: 10px;
    font-size: 17px;
}
.bottom1{
    margin-top: 10px;
}
.ql{
    color: gray;
    margin-right: 20px;
}
.sub{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 0;
}
.count{
    width: 50px;
    height: 29px;
    font-size: 15px;
    text-align: center;
    margin-right: 5px;
    border: 0;
    background-color: rgb(236, 236, 236);
}
.add{
    width: 30px;
    height: 30px;
    border: 0;
}
.no{
    margin-left: 10px;
}
.Buying{
    width: 110px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    background:linear-gradient(to right,rgb(253, 136, 3),rgb(245, 55, 21));
    color: white;
}
.shopping_add{
    width: 120px;
    height: 39px;
    background:linear-gradient(to right,rgb(255, 208, 0),orange);
    color: white;
    border: 0;
    border-radius: 0px 10px 10px 0px;
    font-size: 15px;
    margin: 30px 0px;
}
.top{
    height: 50px;
    background-color: #d3cccc;
    margin: 0 auto;
    position: sticky;
    top: 0;
    line-height: 2.5;
    margin-top: 20px;
}
.comment{
    padding-left: 20px;
    font-weight: normal;
}
.picture_change{
    overflow: hidden;
    width: 400px;
    margin: 420px 50px;
}
.p1{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 24px;
    list-style: none;
}
.p1_now{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 24px;
    list-style: none;
    border: 1px solid red;
}
.i{
    width: 100%;
    height: 100%;
}

